<h1>Estimates</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% @estimates.each do |estimate| %>
      <tr>
        <td><%= estimate.id %></td>
        <td class="title"><%= link_to(estimate.title, estimate_path(estimate.id)) %></td>
        <td class="price"><%= estimate.root_estimate_detail.self_and_descendants.sum("unit_price * amount") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
